<!-- BEGIN PAGE HEAD-->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>Coin List</h1>
    </div>
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb mt-2">
    <li>
        <a href="coint_list.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">Tables</span>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN PAGE BASE CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <h2>Coin List</h2>
            <div class="portlet-body flip-scroll">
                <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead class="flip-content">
                        <tr>
                            <th width="20%"> Code </th>
                            <th> Name </th>
                            <th class="numeric"> Actions </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> BTC </td>
                            <td> Bitcoin </td>
                            <td class="numeric">
                                <div class="btn-group">
                                    <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                        Actions
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-left" role="menu">
                                        <li class="">
                                            <a href="#">
                                                <i class="icon-action-redo"></i> Edit
                                            </a>

                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-ban"></i> Disable
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-remove-sign"></i> Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td> ETH </td>
                            <td> Ethereum </td>
                            <td class="numeric">
                                <div class="btn-group">
                                    <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                        Actions
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-left" role="menu">
                                        <li class="">
                                            <a href="#">
                                                <i class="icon-action-redo"></i> Edit
                                            </a>

                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-ban"></i> Disable
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-remove-sign"></i> Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td> XMR </td>
                            <td> Monero </td>
                            <td class="numeric">
                                <div class="btn-group">
                                    <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                        Actions
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-left" role="menu">
                                        <li class="">
                                            <a href="#">
                                                <i class="icon-action-redo"></i> Edit
                                            </a>

                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-ban"></i> Disable
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-remove-sign"></i> Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td> LTC </td>
                            <td> Litecoin </td>
                            <td class="numeric">
                                <div class="btn-group">
                                    <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                        Actions
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-left" role="menu">
                                        <li class="">
                                            <a href="#">
                                                <i class="icon-action-redo"></i> Edit
                                            </a>

                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-ban"></i> Disable
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-remove-sign"></i> Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td> DASH </td>
                            <td> Dash</td>
                            <td class="numeric">
                                <div class="btn-group">
                                    <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                        Actions
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-left" role="menu">
                                        <li class="">
                                            <a href="#">
                                                <i class="icon-action-redo"></i> Edit
                                            </a>

                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-ban"></i> Disable
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-remove-sign"></i> Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td> USDT </td>
                            <td> Tether </td>
                            <td class="numeric">
                                <div class="btn-group">
                                    <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                        Actions
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-left" role="menu">
                                        <li class="">
                                            <a href="#">
                                                <i class="icon-action-redo"></i> Edit
                                            </a>

                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-ban"></i> Disable
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-remove-sign"></i> Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td> DOGE </td>
                            <td> Doge </td>
                            <td class="numeric">
                                <div class="btn-group">
                                    <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                        Actions
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-left" role="menu">
                                        <li class="">
                                            <a href="#">
                                                <i class="icon-action-redo"></i> Edit
                                            </a>

                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-ban"></i> Disable
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-remove-sign"></i> Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td> XRP </td>
                            <td> Ripple </td>
                            <td class="numeric">
                                <div class="btn-group">
                                    <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                        Actions
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-left" role="menu">
                                        <li class="">
                                            <a href="#">
                                                <i class="icon-action-redo"></i> Edit
                                            </a>

                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-ban"></i> Disable
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-remove-sign"></i> Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td> BCH </td>
                            <td> Bitcoincash </td>
                            <td class="numeric">
                                <div class="btn-group">
                                    <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                        Actions
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-left" role="menu">
                                        <li class="">
                                            <a href="#">
                                                <i class="icon-action-redo"></i> Edit
                                            </a>

                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-ban"></i> Disable
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-remove-sign"></i> Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td> BSV </td>
                            <td> Bitcoinsv </td>
                            <td class="numeric">
                                <div class="btn-group">
                                    <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                        Actions
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-left" role="menu">
                                        <li class="">
                                            <a href="#">
                                                <i class="icon-action-redo"></i> Edit
                                            </a>

                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-ban"></i> Disable
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-remove-sign"></i> Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<!-- END PAGE BASE CONTENT -->